{% extends "base.html" %}

{% block title %}게시글 수정{% endblock %}

{% block content %}
<div class="container">
  <h2>게시글 수정</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.title.label_tag }}
      {{ form.title }}
      {{ form.title.errors }}
    </div>
    <div class="mb-3">
      {{ form.content.label_tag }}
      {{ form.content }}
      {{ form.content.errors }}
    </div>
    <div class="d-grid my-3">
      <button type="submit" class="btn btn-success">수정 완료</button>
    </div>
  </form>
</div>

{% endblock %}
